a {
    color: #fff;
}

article {
    box-sizing: border-box;
    display: inline-block;
    font-size: 32px;
    padding: 50px;
    max-width: 100%;
    width: 500px;
    vertical-align: top;
}

body {
    background-color: #004242;
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    overflow-x: hidden;
    text-align: center;
}

img {
    display: inline-block;
    max-width: 100%;
    width: 500px
}

p {
    margin: 0;
}

section {
    box-sizing: border-box;
    display: inline-block;
    padding: 100px 0 0 0;
}